[submodule "TomCat/vendor/spdlog"]
	path = TomCat/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TomCat/vendor/GLFW"]
	path = TomCat/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "TomCat/vendor/ImGui"]
	path = TomCat/vendor/ImGui
	url = https://github.com/TheCherno/imgui
[submodule "TomCat/vendor/glm"]
	path = TomCat/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "TomCat/vendor/yaml-cpp"]
	path = TomCat/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
